@media (min-width: 601px) {
  body {
    padding: 0px;
    place-content: center;
    main {
      article {
        max-width: 540px;
        padding: 41px 36px 66px;

        p {
          font-size: 0.5rem;
        }
        h1 {
          font-size: 1rem;
          margin-bottom: 1.5em;
        }
      }
    }
  }
}
