@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 28px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

img {
  user-select: none;
}

body {
  background: $darkBlue;
  color: $lightCyan;
  display: grid;
  font-family: $manrope;
  min-height: 100vh;
  padding: 120px 16px;

  main {
    article {
      background: $darkGrayishBlue;
      box-shadow: 28px 30px 29px -20px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      display: none;
      flex-direction: column;
      align-items: center;
      padding: 41px 24px 66px;
      position: relative;
      text-align: center;

      p {
        color: $neonGreen;
        font-size: 0.411rem;
        letter-spacing: 3px;
        margin-left: 3px;
        text-transform: uppercase;
      }

      h1 {
        font-size: 0.85rem;
        letter-spacing: -0.2px;
        line-height: 1.4;
        margin: 1.075em 0;
      }
      button {
        -webkit-appearance: none;
        background: $neonGreen;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        height: 65px;
        margin-bottom: -100px;
        margin-top: 32px;
        outline: none;
        transition: box-shadow 0.2s ease, transform 0.2s ease;
        width: 65px;

        &:hover {
          box-shadow: 0px 0px 30px 0px $neonGreen;
          transform: scale(1.08);
        }

        &:active {
          box-shadow: 0px 0px 15px 0px $neonGreen;
          transform: scale(0.92);
        }
      }
    }
  }
}

@import "media";
